<!DOCTYPE html>
    html
      <head>
        <meta charset="UTF-8">
        <meta name="keywords" content="Movies &amp Series List, filmes, séries, movies, series">
        <meta name="description" content="Site do aplicativo Movies &amp Series List">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <base href="/">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="assets/normalize.css">
        <link rel="stylesheet" href="assets/home.css">
        <link rel="icon" type="image/x-icon" href="assets/favicon.png">
        <title>Movies &amp Series List</title>
      </head>
      <body>

        <div class="main-container">

          <img src="assets/new_launcher.svg" alt="Movies and Series List logo">
          <h1>Em construção</h1>

        </div>

      </body>
