<!DOCTYPE html>
    html
      <head>
          <meta charset="UTF-8">
          <meta name="keywords" content="EUVI, filmes, séries, movies, series">
          <meta name="description" content="Site do aplicativo Euvi">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <base href="/">
          <link rel="preconnect" href="https://fonts.googleapis.com">
          <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
          <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600&display=swap" rel="stylesheet">
          <link rel="stylesheet" href="assets/normalize.css">
          <link rel="stylesheet" href="assets/privacy-policy.css">
          <link rel="icon" type="image/x-icon" href="assets/favicon.png">
          <title>Euvi - Terms of Use</title>
      </head>

      <body>

        <div class="main-container">

          <h1>Terms of Use</h1>

          <div class="text-container">
            <p>Euvi app is a copyrighted work belonging to Euvi.</p>

            <p>
              |  These Terms of Use described the legally binding terms and conditions that oversee your use of the Site.
              |  BY LOGGING INTO THE SITE, YOU ARE BEING COMPLIANT THAT THESE TERMS and you represent that you have the authority
              |  and capacity to enter into these Terms.
            </p>

            <p>IF YOU DISAGREE WITH ALL OF THE PROVISION OF THESE TERMS, DO NOT LOG INTO AND/OR USE THE APPLICATION.</p>
          </div>

          <h2>Accounts</h2>

          <p>
            |  For you to use the Application, you have to start an account and provide information about yourself.
            |  You warrant that: (a) all required registration information you submit is truthful, up-to-date and accurate;
            |  (b) you will maintain the accuracy of such information. (c) your use of Euvi do not violate any applicable law or regulation;
            |  (d) you are 13 years of age or older. You may delete your Account at any time by following the instructions on the Application.
            |  You further represent and warrant that you will comply with all local rules regarding on-line conduct and acceptable Contributions.
          </p>

          <h2>Access to the Application</h2>

          <p>
            |  <strong>Certain Restrictions:</strong>. The rights approved to you in these Terms are subject to the following restrictions:
            |  (a) you shall not sell, rent, lease, transfer, assign, distribute, host, or otherwise commercially exploit the Application;
            |  (b) you shall not change, make derivative works of, disassemble, reverse compile or reverse engineer any part of the Application;
            |  (c) you shall not access the Application in order to build a similar or competitive website; and
            |  (d) except as expressly stated herein, no part of the Site may be copied, reproduced, distributed, republished,
            |  downloaded, displayed, posted or transmitted in any form or by any means unless otherwise indicated,
            |  any future release, update, or other addition to functionality of the Site shall be subject to these Terms.
          </p>

          <p>
            <strong>No Support or Maintenance:</strong> You agree that Euvi will have no obligation to provide you with any support in connection with the Application.
          </p>

          <p>
            |  Euvi reserves the right to change, suspend, or cease the Application with or without notice to you.
            |  You approved that Euvi will not be held liable to you or any third-party for any change, interruption, or termination of the Application or any part.
          </p>

          <h2>User Conduct</h2>

          <p>
            |  You are entirely responsible for the content of, and any harm resulting from, any of your postings or submissions to this Application.
            |  When you create or make available a content, you represent and warrant that you:
          </p>

          <ul>
            <li>
              <p>
                |  will not post or submit content that: (i) are defamatory, damaging, disruptive, unlawful, inappropriate, offensive, inaccurate,
                |  pornographic, vulgar, indecent, profane, hateful, racially or ethnically offensive, obscene, lewd, lascivious, filthy, threatening,
                |  excessively violent, harassing, or otherwise objectionable; (ii) incite, encourage or threaten immediate physical harm against another,
                |  including but not limited to, Contributions that promote racism, bigotry, sexism, religious intolerance or harm against any group or individual;
                |  or (iii) contain material that solicits personal information from anyone under 13 or exploits anyone in a sexual or violent manner;
              </p>
            </li>
            <li>
              <p>
                |  will not use this Application for any unauthorized purpose including collecting usernames and/or email addresses of other users by electronic
                |  or other means for the purpose of sending unsolicited email or other electronic communications,
                |  or engaging in unauthorized framing of, or linking to, this Application without our express written consent;
              </p>
            </li>
            <li>
              <p>
                |  will not post or submit content that constitute, contain, install or attempt to install or promote spyware, malware or other computer code,
                |  whether on our or others' computers or equipment,
                |  designated to enable you or others to gather information about or monitor the on-line or other activities of another party;
              </p>
            </li>
            <li>
              <p>
                |  will not transmit chain letters, bulk or junk email or interfere with, disrupt, or create an undue burden on this Site or the networks or services connected to this Site, including without limitation, hacking into this Site,
                |  or using the system to send unsolicited or commercial emails, bulletins, comments or other communications; or
              </p>
            </li>
            <li>
              <p>
                |  will not impersonate any other person or entity, sell or let others use your profile or password,
                |  provide false or misleading identification or address information, or invade the privacy, or violate the personal
                |  or proprietary right, of any person or entity.
              </p>
            </li>
          </ul>

          <h2>User Content</h2>

          <p>
            |  <strong>User Content:</strong> “User Content” means any and all information and content that a user submits to the Site.
            |  You are exclusively responsible for your User Content. You bear all risks associated with use of your User Content.
            |  You hereby certify that your User Content does not violate our Acceptable Use Policy.
            |  You may not represent or imply to others that your User Content is in any way provided, sponsored or endorsed by Euvi.
            |  Because you alone are responsible for your User Content, you may expose yourself to liability. Euvi is not obliged to backup any
            |  User Content that you post; also, your User Content may be deleted at any time without prior notice to you.
          </p>

          <p>
            |  You hereby grant to Euvi an irreversible, nonexclusive, royalty-free (meaning that we are not required to pay you to use your content), worldwide license to reproduce,
            |  distribute, publicly display and perform, and otherwise use and exploit your User Content,
            |  and to grant sublicenses of the foregoing rights, solely for the purposes of including your User Content in the Application.
          </p>

          <p>
            |  If you provide us with any feedback (e.g. suggested improvements, corrections etc.) about the Application or Services ("Feedback"), you assign all right,
            |  title and interest in and to such Feedback to us and acknowledge that we will be entitled to use,
            |  including without limitation, implement and exploit, any such Feedback in any manner without any restriction or obligation.
            |  You further acknowledge and agree that we are not obligated to act on such Feedback.
          </p>

          <h2>Application Managment/User Misconduct</h2>

          <p>
            |  <strong>We may, but are not required to:</strong>
            |  (a) monitor or review this Site for violations of this Agreement and for compliance with our policies;
            |  (b) report to law enforcement authorities and/or take legal action against anyone who violates this Agreement;
            |  (c) refuse, restrict access to or the availability of, or remove or disable any content or any portion thereof without prior notice to you; and/or
            |  (d) manage this Site in a manner designed to protect our and third parties' rights and property or to facilitate the proper functioning of this Application.
          </p>

          <p>
            |  <strong>Our Right to Terminate Users:</strong> Without limiting any other provision of this Agreement, we reserve the right to,
            |  in our sole discretion and without notice or liability deny access to and use of this Application to any person for any reason or for no reason at all,
            |  including without limitation for breach of any representation, warranty or covenant contained in this Agreement, or of any applicable law or regulation.
          </p>

          <p>
            |  <strong>Risk of Harm:</strong> Please note that there are risks, including but not limited to the risk of physical harm, of dealing with strangers,
            |  including persons who may be acting under false pretenses. Please choose carefully the information you post on this Application and that you give
            |  to other Application users. You are discouraged from publicly posting your full name, telephone numbers, street addresses or other information
            |  that identifies you or allows strangers to find you or steal your identity. Despite this prohibition, other people's information may be offensive,
            |  harmful or inaccurate, and in some cases will be mislabeled or deceptively labeled. You assume all risks associated with dealing with other users
            |  with whom you come in contact through this Application. We expect that you will use caution and common sense when using this Application.
          </p>

          <h2>Third-Party Links & Ads</h2>

          <p>
            |  Euvi may contain links to third-party websites and services, and/or display advertisements for third-parties.
            |  Such Third-Party Links & Ads are not under the control of Euvi, and Euvi is not responsible for any Third-Party Links & Ads.
            |  Euvi provides access to these Third-Party Links & Ads only as a convenience to you, and does not review, approve, monitor, endorse,
            |  warrant, or make any representations with respect to Third-Party Links & Ads. You use all Third-Party Links & Ads at your own risk,
            |  and should apply a suitable level of caution and discretion in doing so. When you click on any of the Third-Party Links & Ads,
            |  the applicable third party's terms and policies apply, including the third party's privacy and data gathering practices.
          </p>

          <p>
            |  <strong>Our Advertising Partners:</strong> Some of advertisers on our site may use cookies and web beacons.
            |  Our advertising partners are listed below. Each of our advertising partners has their
            |  own Privacy Policy for their policies on user data. For easier access, we hyperlinked to their Privacy Policies below.
          </p>

          <ul>
            <li><p>Google Admob: <a href="https://policies.google.com/technologies/ads">https://policies.google.com/technologies/ads</a></p></li>
          </ul>

          <h2>Other Users</h2>

          <p>
            |  Each Euvi user is solely responsible for any and all of its own User Content. Because we do not control User Content,
            |  you acknowledge and agree that we are not responsible for any User Content, whether provided by you or by others.
            |  You agree that Euvi will not be responsible for any loss or damage incurred as the result of any such interactions.
            |  If there is a dispute between you and any Application user, we are under no obligation to become involved.
          </p>

          <h2>Limitation on Liability</h2>

          <p>
            |  To the maximum extent permitted by law, in no event shall Euvi or our suppliers be liable to you or any third-party for any lost profits,
            |  lost data, costs of procurement of substitute products, or any indirect, consequential, exemplary, incidental, special or punitive damages arising
            |  from or relating to these terms or your use of, or incapability to use the
            |  application even if Euvi has been advised of the possibility of such damages.  Access to and use of the application is at your own discretion and risk,
            |  and you will be solely responsible for any damage to your device or computer system, or loss of data resulting therefrom.
          </p>

          <h2>Contact Information</h2>

          <p>Email: jumiranda0501@gmail.com</p>

        </div>

      </body>

